@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

        * {
            font-family: "Black Han Sans", '맑은 고딕';
            font-weight: 400;
            font-style: normal;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            width: 960px;
            min-width: 960px;
            margin: 0 auto;
            background-color: #d9d9d9;
        }

        .header {
            overflow: hidden;
        }

        .logo {
            float: left;
            display: block;
            padding: 0.2rem;
            margin: 0.1rem;
        }

        ul {
            float: right;
        }

        li {
            list-style-type: none;
            float: left;
        }

        a {
            color: #333;
            display: block;
            padding: 0.4rem 1rem;
            margin: 0.8rem 0.3rem;
            text-decoration: none;
            /* background-color: aqua; */
        }

        .sign {
            background-color: #b9b7b7;
            border-radius: 0.4rem;
        }

        .register {
            background-color: #747373;
            border-radius: 0.4rem;
            color: #ccc;
        }
        .slide img{
            height: 300px;
        }
        .prevnext{
            display: flex;
            justify-content: center;
            /* overflow: hidden; */
        }
/* 
        .prevnext>#slider-prev{
            float: left;
        }

        .prevnext>#slider-next{
            float: right;
        } */

        .sub-heading{
            display: flex;
            justify-content: space-between;
        }
        .sub-heading > div{
            width: 280px;
            background-color: aqua;
        }